<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <title>Waste Segregation System | RecycliVision</title>
    <!-- <link rel="stylesheet" href="css/main.css" /> -->
    <link
      href="{{ url_for('static', filename='css/main.css') }}"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <header>
      <nav>
        <div class="navbar">
          <div class="logo"></div>
          <ul class="menu">
            <li class="nav-item active"><a href="/">Home</a></li>
            <li><a href="/upload">Upload</a></li>
            <li><a href="/liveanalysis">Live Analysis</a></li>
            <li><a href="/chatbot">Chat Bot</a></li>
            <li><a href="/about">About</a></li>
          </ul>
        </div>
      </nav>
      <div class="content">
        <div class="text-content">
          <div class="text">ARISTOCRAT</div>
          <div class="name">Recycl!Vision</div>
          <div class="waste">
            <div class="waste">
              <span></span>
              <div class="typing-text">
                <span class="one">Waste</span>
                <span class="two">Segregation.</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
  </body>
</html>
